{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="page-space">
    <div class="a-propos">

    <h1>À propos de l'Église Mont des Oliviers de Berthé</h1>
    <p> Fondée en 2011, l'Église Adventiste du 7e Jour Mont des Oliviers de Berthé est un lieu de rassemblement spirituel, de soutien mutuel et de partage de la foi chrétienne. Située au cœur de la communauté de Berthé, notre église est bien plus qu'un simple bâtiment, c'est un refuge pour ceux qui cherchent du réconfort, une guidance spirituelle et une communauté chaleureuse. <br>  <br> <br>

        Depuis sa création, l'Église Mont des Oliviers a joué un rôle essentiel dans la vie des habitants de Berthé. Nos cultes, nos rencontres de prière et nos activités communautaires créent des liens forts entre les membres et apportent un soutien moral à ceux qui en ont besoin. En plus de notre mission spirituelle, nous nous engageons à aider les plus démunis à travers des actions solidaires telles que la distribution de nourriture, l'accompagnement des jeunes et le soutien des familles en difficulté. <br> <br> <br>
        
        Aujourd'hui, nous rêvons d'un espace plus grand pour accueillir davantage de personnes, élargir nos programmes et continuer à être un pilier pour notre communauté. Grâce à votre soutien, nous pouvons construire un avenir plus solide et offrir un lieu où chacun se sentira le bienvenu. <br> <br> <br>
        
        Rejoignez-nous dans cette mission de foi et d'espérance. Ensemble, bâtissons une église plus grande et plus forte pour les générations à venir.
    </p>

    </div>
</div>


{% endblock %}