{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-space">

    <div class="middle-mob-3">
        <div class="middle-mob-3-items">
            <img src="{% static 'images/sojamob-logo.webp' %}" alt="logo de SOJAMOB" style="width: 200px; height: auto; display: block; max-width: 500px;">
        </div>
    
        <div class="middle-mob-3-items">
            <h4>La SOJAMOB</h4>
            <p>Notre Société de Jeunesse : Une Famille Unie ! <br> <br>

                La Société de Jeunesse de l'Église Adventiste Mont des Oliviers regroupe trois clubs dynamiques : les Aventuriers (4 à 9 ans), les Éclaireurs (10 à 15 ans) et les Ambassadeurs (16 ans et plus). Chaque groupe est adapté à l'âge et aux besoins des jeunes, offrant des activités variées, éducatives et enrichissantes.</p>
        </div>
    </div>

    <div class="middle-mob-3">
        <div class="middle-mob-3-items">
            <img src="{% static 'images/aventurier-logo.webp' %}" alt="logo du clu des aventuriers" style="width: 200px; height: auto; display: block; max-width: 500px;">
        </div>
    
        <div class="middle-mob-3-items">
            <h4>Club des Aventuriers.</h4>
            <p>Le Club des Aventuriers de notre église est un programme passionnant conçu pour les enfants âgés de 4 à 9 ans. Il leur offre un espace sécurisant et amusant pour grandir spirituellement, développer des valeurs positives et se faire de nouveaux amis. À travers des activités ludiques, des projets manuels, des sorties en plein air et des enseignements adaptés à leur âge, les enfants apprennent à mieux connaître Dieu, à respecter les autres et à découvrir leurs talents. <br> <br>

                Chers parents, inscrivez vos enfants au Club des Aventuriers ! Offrez-leur l'opportunité de s'épanouir dans un environnement sain et joyeux, encadré par des moniteurs dévoués et expérimentés. <br> <br>
                
                Pour plus d'informations ou pour inscrire votre enfant, contactez-nous dès aujourd'hui !</p>
        </div>
    </div>

    <div class="middle-mob-3">
        <div class="middle-mob-3-items">
            <img src="{% static 'images/eclaireur-logo.webp' %}" alt="logo du clu des Éclaireurs" style="width: 200px; height: auto; display: block; max-width: 500px;">
        </div>
    
        <div class="middle-mob-3-items">
            <h4>Le Club des Éclaireurs</h4>
            <p>Le Club des Éclaireurs est destiné aux jeunes de 10 à 15 ans qui souhaitent développer leurs talents, renforcer leur caractère et approfondir leur foi. À travers des activités variées comme le camping, l'orientation, le secourisme et les projets communautaires, les Éclaireurs apprennent à être responsables, solidaires et à respecter la nature. <br> <br>

                Nos moniteurs expérimentés guident les jeunes pour qu'ils grandissent en tant que leaders et citoyens engagés. Ils découvrent des compétences pratiques tout en s'amusant et en créant des amitiés sincères. <br> <br>
                
                Chers parents, offrez à vos enfants l'opportunité de rejoindre un groupe dynamique, d'explorer leurs capacités et de grandir dans un environnement sain et chrétien. Contactez-nous dès maintenant pour plus d'informations ou pour les inscriptions !</p>
        </div>
    </div>

    <div class="middle-mob-3">
        <div class="middle-mob-3-items">
            <img src="{% static 'images/ambassadeur-logo.webp' %}" alt="logo du club des Embassadeurs" style="width: 200px; height: auto; display: block; max-width: 500px;">
        </div>
    
        <div class="middle-mob-3-items">
            <h4>Le Club des Embassadeurs</h4>
            <p>Le Club des Ambassadeurs est conçu pour les jeunes de 16 ans et plus qui désirent approfondir leur engagement spirituel, développer leurs capacités de leadership et participer activement à des projets de service communautaire. Ils explorent des thèmes de réflexion sur la foi, la responsabilité sociale et la croissance personnelle. <br><br>

                Grâce à des discussions inspirantes, des ateliers pratiques et des missions bénévoles, les Ambassadeurs apprennent à devenir des modèles positifs dans leur église et leur communauté. Ils sont encouragés à prendre des initiatives et à mettre leurs talents au service des autres. <br><br>
                
                Parents, offrez à vos adolescents un espace où ils peuvent grandir spirituellement, développer leurs compétences et renforcer leur relation avec Dieu. Pour les inscriptions ou des informations supplémentaires, contactez-nous dès aujourd'hui !
            </p>
        </div>
    </div>

</div>

{% endblock %}