{% extends "base.html" %}

{% block content %}

<div class="page-space container mt-5">
    {% for instance in object_list %}
    <div class="middle-mob">
        <h4>- {{ instance.title }}</a></h4>
        <div class="middle-mob-items">
            <a href="{% url 'annonces:annonce-detail' instance.id %}" class="btn btn-primary btn-sm w-100">Lire Annonce</a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                <a href="{% url 'annonces:annonce-update' instance.id %}" class="btn btn-primary btn-sm w-100">Modifier</a>
                <a href="{% url 'annonces:annonce-delete' instance.id %}" class="btn btn-primary btn-sm w-100">Effacer</a>
                {% else %}
                <a href="#" class="btn btn-primary btn-sm w-100 disabled">Modifier</a>
                <a href="#" class="btn btn-primary btn-sm w-100 disabled">Effacer</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}